# Dependencies
node_modules/

# Next.js
.next/
.turbo/
.vercel/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build output
out/
dist/
build/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example
.env.local

# Supabase local temp
supabase/.temp/

# Editor swaps
*.swp
*.swo
